<td><%= "#{event.date}" %></td>
<td><%= "#{event.location}" %></td>
<td><%= "#{event.creator.username}" %></td>
<td><%= "#{event.rsvps.count}" %></td>
<td><%= link_to event.title, event %></td>
<td><%= "#{event.description}" %></td>