<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<p>Params <%= p params %></p>
<p>Attendees<%= p @event.attendees %></p>
<p>RSVP Params<%= p @event.attendees %></p>
<p>Event params<%= p @event_params %></p>
<p id='notice' style="color: green"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <h1><%= @event.title %></h1>
  <p><%= @event.date %></p>
  <p><%= @event.location %></p>
  <p><%= @event.creator.username %></p>
  <p><%= @event.description %></p>
  <p><%= @event.rsvps.count %></p>


<div>
  <%= render '/rsvps/button', event: @event %>
</div>
<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <%= button_to "Destroy this event", @event, method: :delete %>
</div>